:root {
  --color-one: #e8d1c5;
  --midpoint-one-two: #eBd7cc;
  --color-two: #eddcd2;
  --midpoint-two-three: #f6e7dc;
  --color-three: #fff1e6;
  --color-four: #f0efeb;
  --color-five: #eeddd3;
  --text-color: 0, 0, 0, 0.4;
}

::-webkit-scrollbar {
	display: none;
}

body {
  background: var(--color-two);
}

.banner[data-v-1cc2919e] {
  background: none;
  background-image: none !important;
}

.banner-content[data-v-1cc2919e] {
	display: flex;
	align-items: center !important;
	flex-direction: column;
}

.banner[data-v-1cc2919e] {
	height: 380px;
}

.hohDownload {
  display: none;
}
.avatar[data-v-1cc2919e] {
    background: var(--color-two);
    box-shadow: 10px 10px 10px 5px var(--color-one), -10px -10px 10px 5px var(--color-three);
    border-radius: 50%;
    border: 10px solid var(--color-two);
    transition: all 0.5s ease;
}

.avatar[data-v-1cc2919e]:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    box-shadow: 13px 13px 13px 7px var(--color-one), -13px -13px 13px 7px var(--color-three);
}

.name-wrapper[data-v-1cc2919e] {
  z-index: 100;
}

.banner-content h1.name {
    filter: none;
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 5px 5px 5px var(--color-one);
    color: white !important;
    transition: all 1s ease;
}

.banner-content h1.name:hover {
    letter-spacing: 2px;
    font-size: 3rem;
    transition: all 1s ease;
}

.nav-wrap[data-v-1cc2919e] {
    background: none;
}

.nav .link[data-v-1cc2919e] {
    background: var(--color-two);
    box-shadow: inset 3px 3px 2px var(--color-three), inset 1px 1px 2px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 0px 0px 10px 1px var(--color-one), inset 0px 0px 10px 5px var(--color-three);
    border-radius: 25px;
    color: rgb(var(--text-color)) !important;
    padding: 20px;
    transition: all 0.25s ease;
}

.nav .link[data-v-1cc2919e]:hover {
    box-shadow: inset 0px 0px 0px var(--color-three), inset 0px 0px 0px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 5px 5px 5px 1px var(--color-one), inset -5px -5px 5px 1px var(--color-three);
    transition: all 0.25s ease;
}

.about .content-wrap[data-v-5c30286e] {
    max-height: 900px;
    overflow: visible !important;
    background: var(--color-two);
    box-shadow: inset 3px 3px 2px var(--color-three), inset 1px 1px 2px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 0px 0px 10px 1px var(--color-one), inset 0px 0px 10px 5px var(--color-three);
    border-radius: 25px;
}

.overview[data-v-5c30286e] .content-wrap {
    background: var(--color-two) !important;
    box-shadow: inset 3px 3px 2px var(--color-three), inset 1px 1px 2px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 0px 0px 10px 1px var(--color-one), inset 0px 0px 10px 5px var(--color-three);
    border-radius: 25px !important;
}

.footer[data-v-815ccddc] {
  display: none;
}

.overview[data-v-5c30286e] .section-header {
    display: none;
}

.activity-feed-wrap[data-v-eb51fd0e] {
    background: var(--color-two) !important;
    box-shadow: inset 3px 3px 2px var(--color-three), inset 1px 1px 2px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 0px 0px 10px 1px var(--color-one), inset 0px 0px 10px 5px var(--color-three);
    border-radius: 25px !important;
    padding: 30px;
    max-height:1400px;
}

.activity-feed {
    overflow: auto;
    max-height: 1200px;
    box-shadow: inset 0 0 5px 5px var(--color-one);
    padding: 15px;
    border-radius: 25px;
}

.favourites-wrap.anime, .favourites-wrap.manga {
  height: 0;
}

.favourites.desktop.preview {
  margin: 0;
  height: 0;
}

.input[data-v-c574a71c] .el-textarea__inner {
    background: var(--color-two) !important;
    box-shadow: inset 0px 0px 0px var(--color-three), inset 0px 0px 0px var(--color-one), 5px 5px 10px 2px var(--color-one), -5px -5px 10px 5px var(--color-three), inset 5px 5px 5px 1px var(--color-one), inset -5px -5px 5px 1px var(--color-three);
    border-radius: 25px !important;
}

.input[data-v-c574a71c] {
    border-radius: 25px;
}

.wrap[data-v-b584a8de] {
    background: var(--color-two) !important;
    box-shadow: inset 0px 0px 0px var(--color-three), inset 0px 0px 0px var(--color-one), inset 5px 5px 5px 1px var(--color-one), inset -5px -5px 5px 1px var(--color-three);
    border-radius: 25px !important;
}
